# Ignore all .log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore compiled files
*.class

# sensitive info, see `config_template.py` to create
config.py

__pycache__
.vscode

# Ignore all files in the screenShot directory
screenShot/*

# But do not ignore the directory itself and .gitkeep file
!screenShot/
!screenShot/.gitkeep

screenshot.jpg